@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _userManager

@model List<IdentityUser>

@{
    ViewData["Title"] = "Beheer Rollen";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var claims = await _userManager.GetClaimsAsync(item);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @(claims.FirstOrDefault()?.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

